#image61{
  background-image: url("/image61.svg");
  width:130px;
  height:130px;
  background-repeat:no-repeat;
}

#Group4701{
  background-image: url("/Group470.svg");
  width:130px;
  height:130px;
  background-repeat:no-repeat;
}
#Group4711{
  background-image: url("/Group471.svg");
  width:130px;
  height:130px;
  background-repeat:no-repeat;
}
#Group4721{
  background-image: url("/Group4721.svg");
  width:130px;
  height:130px;
  background-repeat:no-repeat;
}
